<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="dvd">
        <h2 style="text-align: center;">Select three days you available:</h2>
        <form action="/waiters/{{uname}}" method="post" id="myform">

            <div class="wdays">

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Monday">
                        <span class="input-check"></span>
                        Monday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Tuesday">
                        <span class="input-check"></span>
                        Tuesday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Wednesday">
                        <span class="input-check"></span>
                        Wednesday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Thursday">
                        <span class="input-check"></span>
                        Thursday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Friday">
                        <span class="input-check"></span>
                        Friday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Saterday">
                        <span class="input-check"></span>
                        Saterday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label>
                        <input type="checkbox" name="weekdays" value="Sunday">
                        <span class="input-check"></span>
                        Sunday
                    </label>
                </div>

                <input type="submit" value="Submit" style="margin-left: 45%; margin-top: 5%;">

            </div>

        </form>
        <div class="codeMsg">{{messages.success}}</div>

   
    <form action="/schedule" method="post">
        <button type="submit" style="width: 50%; margin-left:25%; border-radius: 20%;">Schedule</button>
    </form>
 </div>
 
<script>
$('#myform').validate({
    rules: {
        weekdays: {
            required: true,
            minlength: 3
        }
    },
    messages: {
        weekdays: {
            minlength: "check at least {0}"
        }
    }
});
</script>

</body>

</html>