<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="dvd">
        <h2 style="text-align: center;">Select three days you available:</h2>
        <form action="/waiters/{{uname}}" method="post" id="myform">

            <div class="wdays" id="id">

                <div class="checkbox-animate">
                    <label style="margin-right: 11px;">
                        <input type="checkbox" name="weekdays" value="Monday" {{#if checked.[0]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Monday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-right: 11px;">
                        <input type="checkbox" name="weekdays" value="Tuesday" {{#if checked.[1]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Tuesday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-left: 10.5px;">
                        <input type="checkbox" name="weekdays" value="Wednesday" {{#if checked.[2]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Wednesday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-right: 9px;">
                        <input type="checkbox" name="weekdays" value="Thursday" {{#if checked.[3]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Thursday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-right: 27.5px;">
                        <input type="checkbox" name="weekdays" value="Friday" {{#if checked.[4]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Friday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-right: 10px;">
                        <input type="checkbox" name="weekdays" value="Saturday" {{#if checked.[5]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Saturday
                    </label>
                </div>

                <div class="checkbox-animate">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="weekdays" value="Sunday" {{#if checked.[6]}}checked{{/if}}>
                        <span class="input-check"></span>
                        Sunday
                    </label>
                </div>

                <input type="submit" value="Submit" style="margin-left: 45%; margin-top: 5%;">

            </div>

        </form>
        <div class="codeMsg">{{messages.success}}</div>

        <button type="submit" style="margin-left: 25% ;"> <a href="/logout" class="link"> Logout </a> </button>


    </div>

    <script>
        //var checked = document.getElementsByClassName('checky');

        setTimeout(function () {
            document.querySelector(".codeMsg").innerHTML = ""
        }, 5000);

    </script>

</body>

</html>